// _Footer.scss

/* 

  Footer

*/

.FooterWrapper {
  background-color: map-get($brand-colors, 'one');
  color: #fff;
  padding-top: 72px;
  padding-bottom: 56px;
}

/* ClientInfoList */
.ClientInfoList {
  &__item {
    /* &:first-child {
      font-weight: bold;
    } */
  }
}

/* SoMeIconsList */
.SoMeIconsList {
  display: flex;

  &__item {
    margin-right: 10px;
  }

  &__anchor {
    display: block;
    width: 40px;
    height: 40px;
  }

}


/* Sticky Footer Classes */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
/* END Sticky Footer Classes */