// _Hero.scss

/* 

  Hero

*/

.Hero { 
  padding-top: 15%;
  padding-bottom: 14%;
  color: map-get($brand-colors, 'one');

  &__category {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.7rem;
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__subHeading {
    opacity: 0.72;
    font-size: 1.5rem;
  }
}

.Hero--changePadding {
  @media only screen and (min-width: 1800px ) {
    padding-top: 23%;
    padding-bottom: 20%;  
  } 
}