// _typography.scss

$brand-fonts: (
  'primary':    (neue-haas-unica, sans-serif),
  'secondary':  (serif),
);

$brand-font-colors: (
  'one': map-get($brand-colors, 'one'),
);

body {
  font-family: map-get($brand-fonts, 'primary');
  color: map-get($brand-font-colors, 'one');
}

// Note: the font-sizes for h1-h4 are set in
// the responsive typography section
h1 {
  line-height: 1.25;
}

h2 {
  line-height: 1.25;
}

h3 {
  line-height: 1.25;
}

h4 {
  line-height: 1.35;
}

// Note: the font-sizes for h5, h6 and p's are not responsive
h5 {
  font-size: 1.3rem; 
  line-height: 1.35;
} 

h6 {
  font-size: 1.1rem; 
  line-height: 1.35;
}

p {
  font-size: 1.1rem;
  line-height: 1.65;
}

a {
  // why is this set when underline is default? #refactor
  text-decoration: underline; 
}

ul {
  font-size: 1.1rem;
}

/* 

  Responsive Typography

*/
// this will increase the font-size of the selected elements,
// when the viewport increases in size.
// Note: its max-width in this media query
@media only screen and ( max-width: map-get($grid-breakpoints, 'xxl') ) {
  h1          { font-size: calc(1.975rem + 1.5vw); }
  h2          { font-size: calc(1.325rem + 0.9vw); }
  h3          { font-size: calc(1.3rem + 0.6vw);   }
  h4          { font-size: calc(1.275rem + 0.3vw); }
  legend      { font-size: calc(1.275rem + 0.3vw); }
  .display-1  { font-size: calc(1.725rem + 5.7vw); }
  .display-2  { font-size: calc(1.675rem + 5.1vw); }
  .display-3  { font-size: calc(1.575rem + 3.9vw); }
  .display-4  { font-size: calc(1.475rem + 2.7vw); }
  .close      { font-size: calc(1.275rem + 0.3vw); }
}
// this will stop the increasing of the font-size
@include media-breakpoint-up(xxl) {
  h1          { font-size: 59px; }
  h2          { font-size: 38px; }
  h3          { font-size: 32px; }
  h4          { font-size: 26px; }
  legend      { font-size: 26px; }
  .display-1  { font-size: 131px; }
  .display-2  { font-size: 119px; }
  .display-3  { font-size: 96px; }
  .display-4  { font-size: 73px; }
  .close      { font-size: 26px; }
}