// _variables.scss

$brand-colors: (
  'one': #3b012d,
  'two': #ffc900,
  'three': #fbf9f0,
  'four': #ff582d,
);

$border: solid 4px #f4f6ff;

$border-radius: 16px;

$box-shaddow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2)
;

$footerBgColor: map-get($brand-colors, 'one');

$framedBlockBGColor: #F4F3EE50; // => #RRGGBBAA (red, green, blue, alpha)